.carousel,
.carousel-inner,
.carousel-item,
.img {
  width: 100%;
  height: 600px; /* Ajusta automáticamente la altura */
  
}
.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que cubra todo el espacio manteniendo la relación de aspecto */
  }