/* PaginaPrincipal.css */

/* Estilos generales del menú */  

.menu {
  margin-top: -50px;
  width: 100%;
  /* Ocupa todo el ancho de la pantalla */
  padding: 40px 0;
  /* Espacio arriba y abajo del menú */
}

.card img{
  width: 100%; /* Ancho del 100% del contenedor */
  height: 200px; /* Altura automática para mantener la proporción */
  /* Imágenes dentro de las opciones ocupan todo el ancho disponible */
}

.principal .card{
  width: 18rem;
  /*background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color */  
  /*color: white; /* Texto blanco */
}
.menu .principal{
  gap: 0px; /* Establece el espacio de 10px entre los elementos */
  margin-top: -12px;
}
.card:hover {
  transform: scale(1.1); /* Cambia el tamaño del elemento al 110% en hover */
  transition: transform 0.3s ease; /* Agrega una transición suave al efecto de zoom */
 /* background-color: white;
  color: black;*/
}
.principal .card .btn-primary {
  position: relative; /* Establece la posición relativa */
  overflow: hidden; /* Oculta el contenido que sobresale */
}
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro semitransparente al pasar el ratón */
  
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}
.card:hover::after {
  background-color: rgba(0, 0, 0, 0); /* Color negro transparente */
  display: none;
}