.menu {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.menu-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.option {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.option img {
  width: 100px;
  height: 100px;
}

.option p {
  margin: 5px 0;
}

button {
  margin-top: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu {
    width: 80%;
  }
}
